/* --------------------- home -------------------- */

.homeText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--maincolor);
  padding: 0% 10% 0% 10%;
}

.homeText svg {
  margin: 0 15%;
}

.logo {
  height: 50vh;
}

.charte {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
}

.charte {
  position: relative;
}

.charteH1 {
  position: absolute;
  top: 45%;
  left: 35%;
  color: white;
  font-size: 4em;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 9px 25px 9px 25px;
  border-radius: 10px;
}

.chartePicture {
  width: 160vh;
  height: auto;
}

.logoPicture {
  width: 160vh;
  height: auto;
}

.LogoH1 {
  position: absolute;
  top: 45%;
  left: 65%;
  color: white;
  font-size: 4em;

  padding: 9px 25px 9px 25px;
  border-radius: 10px;
}

.trait-horizontal {
  /* width: 80%; */
  margin: 0px 150px 0px 150px;
}

.charteElement {
  margin-bottom: 50px;
  font-size: 1.5em;
}

.custom-shape-divider-bottom-1686506285 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1686506285 svg {
  position: relative;
  display: block;
  width: calc(130% + 1.3px);
  height: 189px;
}

.custom-shape-divider-bottom-1686506285 .shape-fill {
  fill: #ffffff;
}

.teamTextTop {
  font-size: 2em;
  color: #ffffff;
  background-color: var(--maincolor);
  border-radius: 15px;
  margin: 0% 70% 0% 5%;
  padding: 10px 0;
}

.teamTextBottom {
  font-size: 2em;
  color: #ffffff;
  background-color: var(--maincolor);
  border-radius: 15px;
  margin: 2% 2% 0% 49%;
  padding: 10px 0;
}

.homeText {
  animation: homeText infinite 2s ease-in-out;
}
@keyframes homeText {
  50% {
    transform: translateY(30px);
  }
}

.charteH1 {
  animation-name: charteH1;
}
@keyframes charteH1 {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
  }
}
