.support_title {
  margin: 5vh 0;
}

.support_desc {
  margin-bottom: 5vh;
}

.support_selector {
  display: flex;
  justify-content: center;
  gap: 2.5%;
}

.support_button {
  margin-bottom: 25px;
  background-color: var(--maincolor);
  border-radius: 10px;
  color: var(--secondcolor);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 1em;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  min-height: 7vh;
}

.support_button:hover {
  transform: scale(1.3) rotate(-1deg);
  box-shadow: rgba(190, 0, 0, 1);
}

.support_cardSection {
  columns: 2;
  gap: 20px;
  margin: 5% 0 10% 0;
}

.support_cardLink {
  display: flex;
  align-items: center;
  justify-content: center;
}

.support_card {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 0 20% 5% 20%;
  min-width: 80%;
  padding: 1em;
  width: fit-content;
  background-color: var(--maincolor);
  color: var(--colorforbackgroundtext);
}

.support_card div {
  display: flex;
  flex-direction: column;
  gap: 20%;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.support_card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transform: scale(1.1);
}

.support_card img {
  height: 15vh;
  width: 8vw;
  border-radius: 50%;
  margin-right: 3%;
}

.support_card div a {
  color: white;
  font-size: 1.3em;
}

.support_card div p {
  font-weight: 400;
}

@media screen and (max-width: 950px) {
  .support-button-overflow {
    overflow-x: auto;
  }

  .support_selector {
    margin-left: 5vw;
    margin-right: 5vw;
    width: 100vw;
  }
}

@media screen and (max-width: 800px) {
  .support_cardSection {
    display: flex;
    flex-direction: column;
  }

  .support_card img {
    width: 17vw;
    height: 8vh;
  }

  .support_card {
    margin: 0 5% 5% 5%;
    min-width: 90vw;
  }

  .support_selector {
    margin-left: 15%;
    margin-right: 15%;
    width: 280vw;
  }
}
